ci/03_ansible/hosts
deployments/kubespray/container-images/
deployments/infra/azure-aks/kubectl
deployments/infra/azure-aks/venv-ansible/
deployments/infra/aws-eks/venv-ansible/
deployments/infra/aws-eks/aws/
deployments/infra/aws-eks/awscliv2.zip
